/**
    Add your sites custom css here
*/
@import "~react-vis/dist/style";

#cookieConsent {
  background-color: #1f1f1f;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  
  href {
    color: #42a5f5;
    font-size: 0.875rem;
  }
}
