[Unit]
Description=Mosquitto Broker
Documentation=The mosuqitto broker is configured by the SMEIoT setup script.
After=smeiot.service.target

[Service]
Type=exec
ExecStart=/usr/local/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf
User=smeiot
Group=smeiot
ProtectSystem=full
ProtectHome=tmpfs
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
