[Unit]
Description=Mosquitto Broker
# The mosuqitto broker is configured by the SMEIoT setup script.
Documentation=https://github.com/ulfjen/SMEIoT/blob/master/samples/mosquitto.service.sample
After=smeiot.service
JoinsNamespaceOf=smeiot.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf -d
User=smeiot
Group=smeiot
ProtectSystem=full
ProtectHome=tmpfs
KillMode=process
Restart=on-failure
RestartSec=3
PIDFile=/var/SMEIoT/run/smeiot.mosquitto.pid

[Install]
WantedBy=multi-user.target
