[Unit]
Description=SMEIoT Web Server
Documentation=SMEIoT Web server responds to the user requests over internet and manages the Mosquitto broker. It runs after the server is up and running.
After=smeiot.service
Wants=smeiot.service

[Service]
Type=exec
WorkingDirectory=/var/SMEIoT
ExecStart=/var/SMEIoT/SMEIoT.Web
User=smeiot
Group=smeiot
LimitNOFILE=150000
ProtectSystem=full
ProtectHome=tmpfs
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
