[Unit]
Description=SMEIoT Web Server
Documentation=SMEIoT Web server responds to the user requests over internet and manages the Mosquitto broker. It runs after the server is up and running.
After=network-online.target postgresql.service
Wants=network-online.target postgresql.service

[Service]
Type=exec
WorkingDirectory=/var/SMEIoT
EnvironmentFile=/var/SMEIoT/server_env
ExecStart=/var/SMEIoT/SMEIoT.Web
User=smeiot
Group=smeiot
ProtectSystem=full
ProtectHome=tmpfs
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
